@font-face
{
    font-family: 'Exo-Thin';

    src: url('../fonts/Exo/Exo-Thin.ttf') format('truetype');
}

@font-face
{
    font-family: 'Exo-Regular';

    src: url('/fonts/Exo/Exo-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Exo-Medium';

    src: url('/fonts/Exo/Exo-Medium.ttf') format('truetype');
}


html,
body
{
    font-family: Exo-Medium;

    width: 100%;
    height: 100%;
}

.container
{
    width: 1440px;
    margin: auto;
}

.header
{
    width: 100%;
    max-height: 813px;

    background-image: url(../img/header_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.header__content
{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 225px 0 229px 0;
}

.header__title
{
    font-family: Exo-Thin;
    font-size: 60px;
    line-height: 75px;

    max-width: 764px;
    margin: 0;

    text-align: center;
    letter-spacing: 2.4px;

    color: #282828;
}

.header__play-icon
{
    width: 59px;
    height: 59px;
    margin-top: 30px;
}


.header__button-try-now
{
    font-family: Exo-Regular;
    font-size: 16px;

    width: 190px;
    height: 50px;
    margin-top: 39px;

    letter-spacing: 3.2px;
    text-transform: uppercase;

    opacity: .9;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #ff6d6d;
}

.header__button-try-now:hover
{
    opacity: 1;
}

.header__button-try-now:active
{
    opacity: .9;
}

.header__comment
{
    font-family: Exo-Regular;
    font-size: 14px;

    margin-top: 20px;

    letter-spacing: .56px;

    opacity: .6;
    color: #282828;
}

.section-new-design
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 715px;
}

.section-new-design__content
{
    align-self: center;

    max-width: 581px;
    padding-left: 149px;
}

.section-title-red
{
    font-size: 16px;

    margin: 0;

    letter-spacing: 3.2px;
    text-transform: uppercase;

    color: #ff6d6d;
}

.section-title
{
    font-size: 40px;

    margin: 16px auto 16px auto;

    letter-spacing: 1.6px;

    color: #282828;
}

.section-title > span
{
    color: #ff6d6d;
}

.section-text
{
    font-size: 16px;
    line-height: 26px;

    letter-spacing: .64px;

    opacity: .66;
    color: #282828;
}

.section-text_margin
{
    margin-top: 45px;
}

.section-new-design__img
{
    background-color: #ededed;
    height: 100%;
}

.section-new-design__img > img
{
    max-width: 568px;

    opacity: 0.8;
    position: relative;
    top: 235px;
}

.section-new-features
{
    max-height: 675px;
    background-color: #f6f5f3;

    background-image: url(/img/4-layers.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.section-new-features__content
{
    padding-top: 138px;
    padding-bottom: 184px;
}

.section-new-features__block
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 91px;
}

.section-new-features__item
{
    max-width: 342px;

    text-align: center;
}

.section-new-features__item:not(:last-child)
{
    margin-right: 46px;
}

.section-title_center
{
    text-align: center;
}

.section-item-title
{
    font-size: 22px;
    line-height: 50px;

    letter-spacing: .88px;
}

.description
{
    background-position-y: -200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 55px;
    padding: 93px 55px 90px 55px;
    max-height: 550px;
 
    background-image: url(/img/Rectangle\ 21\ copy\ 2.png);
    background-repeat: no-repeat;
}

.description__content
{
  max-width: 492px;
  margin-left: 74px;
}

.section-item-title_white{
  color: #fff;
  margin: 0px;
}

.section-text_white{
  color: #fff;
  opacity: 0.64;
  font-style: italic;
}

.position{
  color: #ff6d6d;
  margin: 0px;
}

.clients{
  max-height: 648px;
  background-image: url(/img/clients_background.jpg);
  padding-bottom: 90px;

  
  opacity: 0.8;
}
.logo-clients
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 250px;
  padding-right: 250px;
}