@font-face
{
    font-family: 'Exo-Thin';

    src: url('./fonts/Exo/ExoThin.ttf') format('truetype');
}

@font-face
{
    font-family: 'Exo-Regular';

    src: url('./fonts/Exo/ExoRegular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Exo-Medium';

    src: url('./fonts/Exo/ExoMedium.ttf') format('truetype');
}


html,
body
{
    font-family: Exo-Medium;

    width: 100%;
    height: 100%;
}

.container
{
    max-width: 1440px;
    margin: auto;
}

.header
{
    width: 100%;
    height: 813px;

    background-image: url(./img/headerbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.header__content
{
    display: flex;
    flex-direction: column;

    padding: 225px 0 229px 0;

    align-items: center;
}

.header__title
{
    font-family: Exo-Thin;
    font-size: 60px;
    line-height: 75px;

    max-width: 764px;
    margin: 0;

    text-align: center;
    letter-spacing: 2.4px;

    color: #282828;
}

.header__play-icon
{
    width: 59px;
    height: 59px;
    margin-top: 30px;
}


.header__button-try-now
{
    font-family: Exo-Regular;
    font-size: 16px;

    width: 190px;
    height: 50px;
    margin-top: 39px;

    letter-spacing: 3.2px;
    text-transform: uppercase;

    opacity: .9;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #ff6d6d;
}

@media (max-width: 670px) 
{
  .header__content
  {
    padding-top: 10%;
  }
  .header__title
  {
    font-size: 40px;
    line-height: 50px;
  }
  
}
.header__button-try-now:hover
{
    opacity: 1;
}

.header__button-try-now:active
{
    opacity: .9;
}

.header__comment
{
    font-family: Exo-Regular;
    font-size: 14px;

    margin-top: 20px;

    letter-spacing: .56px;

    opacity: .6;
    color: #282828;
}


.section-new-design
{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 815px;

    justify-content: space-between;
}

.section-new-design__content
{
    max-width: 581px;
    padding-left: 7%;

    align-self: center;
}

.section-title-red
{
    font-size: 16px;
    padding-top: 3%;

    margin: 0;

    letter-spacing: 3.2px;
    text-transform: uppercase;

    color: #ff6d6d;
}

.section-title
{
    font-size: 40px;

    margin: 16px auto 16px auto;

    letter-spacing: 1.6px;

    color: #282828;
}

.section-title > span
{
    color: #ff6d6d;
}

.section-text
{
    font-size: 16px;
    line-height: 26px;

    letter-spacing: .64px;

    opacity: .66;
    color: #282828;
}

.section-text_margin
{
    margin-top: 45px;
}

.section-new-design__img
{
    height: 100%;

    background-color: #ededed;
}

.section-new-design__img > img
{
    position: relative;
    top: 335px;

    max-width: 568px;

    opacity: .8;
}

@media (max-width: 1120px)
{
  .section-new-design__img
  {
    display: none;
  }
  .description__img
  {
    display: none;
  }
}
.section-new-features
{
    min-height: 675px;

    background-color: #f6f5f3;
    background-image: url(./img/3layers.png);
    background-repeat: no-repeat;
    background-position: center;
}

.section-new-features__content
{
    /*padding-top: 138px;
    padding-bottom: 184px;*/
    padding-top: 1%;
    padding-bottom: 1%;
}

.section-new-features__block
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 4%;
    padding-bottom: 4%;

    /*padding-top: 91px;*/

    justify-content: center;
}

.section-new-features__item
{
    max-width: 342px;

    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}


.section-title_center
{
    text-align: center;
}

.section-item-title
{
    font-size: 22px;
    line-height: 50px;
    /*padding-left: 3%;*/

    letter-spacing: .88px;
}

.description
{
    display: flex;

    height: 550px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7%;

    background-image: url(./img/Rectangle21copy2.png);
    background-repeat: no-repeat;
    background-position-y: -200px;

    align-items: center;
    justify-content: center;
}

@media (max-width: 1120px)
{
  .description
  {
    background-image: none;
  }
}

.description__content
{
    max-width: 492px;
}

.section-item-title_white
{
    margin: 0;

    color: #fff;
}

.section-text_white
{
    font-style: italic;

    opacity: .64;
    color: #fff;
}

.position
{
    margin: 0;

    color: #ff6d6d;
}

.clients
{
    min-height: 648px;
    padding-bottom: 0%;

    opacity: .8;
    background-image: url(./img/clientsbackground.jpg);
}

.logo-clients
{
    display: flex;

    padding-right: 10%;
    padding-left: 10%;

    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    /*margin-top: 10px;*/
}

.browser
{
    display: flex;
    flex-direction: column;

    max-height: 754px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right:10%;

    align-items: center;
    text-align: center;
}

.browser__content
{
    max-width: 647px;
}

.browser__img>img
{
  width: 100%;
}

.try-now
{
    display: flex;

    min-height: 467px;
    padding-top: 98px;
    padding-bottom: 85px;
    

    text-align: center;

    background-image: url(./img/trynow.jpg);
    /*align-items: center;*/

    justify-content: center;
}

.try-now__form
{
    display: flex;
    flex-wrap: wrap;

    margin-top: 40px;
    margin-bottom: 52px;
    justify-content: center;
    align-items: flex-end;
}

.try-now__form > input
{
    width: 263px;
    height: 49px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 29px;


    opacity: .6;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #000;
}


.try-now__form > input:focus
{
    opacity: .8;
}

.free-days > button
{
    width: 258px;
    height: 50px;
    margin-left: 30px;

    color: #f6f5f3;
    border: 1px solid #ff6d6d;
    border-radius: 3px;
    background-color: #ff6d6d;
    box-shadow: 0 3px 3px rgba(14, 15, 15, .25);
}

.img-free-days>p
{
  float: right;

}

.browser_text-decoration
{
    text-decoration: underline;
}

.section-title_white
{
    color: #fff;
}

.section-text_opacity
{
    opacity: .6;
    color: #f6f5f3;
}

.free-days
{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    margin-right: 20px;

    color: #f6f5f3;

    justify-content: flex-end;
}

.footer
{
    display: flex;
    flex-wrap: wrap-reverse;

    padding-top: 5%;
    padding-right: 25%;
    padding-bottom: 5%;
    padding-left: 15%;

    background-image: url(./img/footerback.png);
    background-repeat: no-repeat;
    background-position: top right;

    justify-content: space-between;
}

.row-start
{
    font-size: 14px;
    line-height: 26px;

    max-width: 250px;

    letter-spacing: .56px;

    opacity: .56;
    color: #282828;
}

.row a
{
    text-decoration: none;

    color: #000;
}

.row li
{
    font-size: 14px;
    line-height: 30px;

    list-style-type: none;
}

.row ul
{
    padding: 0;
}

.row__title
{
    font-size: 22px;

    margin-top: 10px;
    margin-bottom: 25px;
}

.row
{
  padding: 2%;
}

.social-icon
{
    margin-top: 20px;
    margin-left: 50px;
}

.get-newsletter
{
  width: 280px;
  height: 60px;
}

.get-newsletter__input
{
    max-width: 263px;
    height: 49px;
    padding-left: 30px;

    letter-spacing: .64px;
    text-transform: uppercase;

    opacity: .4;
    color: #000;
    border: 1px solid #4e4e5e;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.get-newsletter__input:focus
{
    opacity: .8;
}

.get-newsletter__button
{
    position: absolute;

    width: 52px;
    height: 53px;

    border: 1px solid #ff6d6d;
    border-radius: 3px;
    background-color: #ff6d6d;
    box-shadow: 0 3px 3px rgba(14, 15, 15, .25);
}

@media (max-width: 1325px)
{
  .footer
  {
    background-image: none;
  }
}
